<div class="card-container">
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>System Info</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div class="list-item">
                    <p>Hostname</p>
                    <p>{{deviceInfo?.hostname}}</p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <p>ID</p>
                    <p>{{deviceInfo?.id}}</p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <p>IP</p>
                    <p>{{deviceInfo?.ip}}</p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <p>Internet</p>

                    <!-- TODO make a color palatte for status colors success/warn/error -->
                    <mat-icon style="color: green" *ngIf="deviceInfo?.internetConnectivity">wifi_off</mat-icon>
                    <mat-icon style="color: red" *ngIf="!deviceInfo?.internetConnectivity">wifi</mat-icon>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Room Status</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div class="list-item">
                    <p>Devices Reachable</p>
                    <p>{{pingResult?.successful?.length}}</p>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item>
                <div class="list-item">
                    <p>Devices Unreachable</p>
                    <p>{{pingResult?.unsuccessful?.length}}</p>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Software Status</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <ng-container *ngFor="let status of deviceInfo?.status">
                <mat-list-item>
                    <div class="list-item">
                        <p>{{status?.name}}</p>

                        <!-- TODO make a color palatte for status colors success/warn/error -->
                        <!-- TODO alphabetize status' list -->
                        <mat-icon style="color: green" *ngIf="status?.statuscode === 'healthy'">check_circle_outline</mat-icon>
                        <mat-icon style="color: red" *ngIf="status?.statuscode !== 'healthy'">error_outline</mat-icon>
                    </div>
                </mat-list-item>

                <!-- TODO don't show last one somehow -->
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-card-content>
</mat-card>
</div>
