html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.card-container {
    margin: 1.5em auto;
    width: 95%;
    column-gap: 1em;
    column-fill: initial;
    column-count: 1;
    transition: all .5s ease-in-out;

    .card {
        margin: 0 0 1.5em;
        break-inside: avoid;

        mat-progress-bar {
            top: -24px;
        }
    }
}

.list-item {
    font-size: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
