@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat.core();

// Define color palettes
$default-primary: mat.define-palette(mat.$blue-palette, 800, 600, 900);
$default-accent: mat.define-palette(mat.$blue-grey-palette);
$default-warn: mat.define-palette(mat.$pink-palette);

$status-primary: mat.define-palette(mat.$green-palette);
$status-accent: mat.define-palette(mat.$orange-palette);
$status-warn: mat.define-palette(mat.$red-palette);

// Define the default theme
$default-theme: mat.define-light-theme((
  color: (
    primary: $default-primary,
    accent: $default-accent,
    warn: $default-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the default theme
@include mat.all-component-themes($default-theme);

// Define the status theme
$status-theme: mat.define-light-theme((
  color: (
    primary: $status-primary,
    accent: $status-accent,
    warn: $status-warn,
  )
));

// Apply the status theme to a specific selector
#status-theme {
  @include mat.all-component-colors($status-theme);
}

// Define the dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $default-primary,
    accent: $default-accent,
    warn: $default-warn,
  )
));

// Apply the dark theme to a specific selector
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
