@use '@angular/material' as mat;
// If the above doesn't work, use these instead:
// @use '@angular/material/core/theming/palette' as mat-palette;
// @use '@angular/material/core/theming/theming' as mat-theming;

@include mat.core();

// Default (light) theme
$default-primary: mat.define-palette(mat.$indigo-palette);
$default-accent: mat.define-palette(mat.$blue-grey-palette);
$default-warn: mat.define-palette(mat.$pink-palette);

$default-theme: mat.define-light-theme((
  color: (
    primary: $default-primary,
    accent: $default-accent,
    warn: $default-warn,
  )
));

@include mat.all-component-themes($default-theme);

// Theme for status (success/warning/error) colors
$status-primary: mat.define-palette(mat.$green-palette);
$status-accent: mat.define-palette(mat.$yellow-palette);
$status-warn: mat.define-palette(mat.$red-palette);

$status-theme: mat.define-light-theme((
  color: (
    primary: $status-primary,
    accent: $status-accent,
    warn: $status-warn,
  )
));

#status-theme {
  @include mat.all-component-colors($status-theme);
}

// Dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $default-primary,
    accent: $default-accent,
    warn: $default-warn,
  )
));

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
