<div class="content-box device-card">
    <div class="sub-heading">
        <p class="ITB-JAMES-CP1">ITB-JAMES-CP1</p>
        <p class="sub-value">0.0.0.0</p>
        <div class="status-icons">
            <span class="connectivity" data-icon="wifi"> </span>
            <span class="power" data-icon="hot-tub"> </span>
        </div>
    </div>
    <div class="drawer">
        <div class="content-box-sub">
            <p class="sub-heading">Device ID</p>
            <p class="sub-value">ITB-JAMES-CP1</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Resolved IP</p>
            <p class="sub-value">0.0.0.0</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Packets Sent</p>
            <p class="sub-value">3</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Packets Received</p>
            <p class="sub-value">3</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Packets Lost</p>
            <p class="sub-value">0</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Average Round Trip Time</p>
            <p class="sub-value">197.953µs</p>
        </div>
    </div>
</div>

<div class="content-box device-card">
    <div class="sub-heading">
        <p class="ITB-JAMES-CP1">ITB-JAMES-CP1</p>
        <p class="sub-value">0.0.0.0</p>
        <div class="status-icons">
            <span class="connectivity" data-icon="wifi"> </span>
            <span class="power" data-icon="hot-tub"> </span>
        </div>
    </div>
    <div class="drawer">
        <div class="content-box-sub">
            <p class="sub-heading">Device ID</p>
            <p class="sub-value">ITB-JAMES-CP1</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Resolved IP</p>
            <p class="sub-value">0.0.0.0</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Packets Sent</p>
            <p class="sub-value">3</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Packets Received</p>
            <p class="sub-value">3</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Packets Lost</p>
            <p class="sub-value">0</p>
        </div>
        <div class="content-box-sub">
            <p class="sub-heading">Average Round Trip Time</p>
            <p class="sub-value">197.953µs</p>
        </div>
    </div>
</div>
