<div class="docker-containers-root">
    <div class="docker-containers-card">
        <div class="sub-heading">
            <p class="info-title">Docker Containers</p>
            <p class="sub-value" data-field="docker.count">-</p>
        </div>
        <div class="docker-container-list"></div>
    </div>
</div>

<template id="docker-container-row-template">
    <div class="content-box-sub">
        <p class="sub-heading">Container</p>
        <p class="sub-value">Status</p>
    </div>
</template>
