.dashboard {
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	left: 0;

	background: url('/assets/bg5.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-posotion: center center;
} 

.hostname {
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 1.5vh;
	margin-bottom: 1vh;
	font-size: 5vh;
}

.status-container {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
	right: 0;
	min-height: 95vh;
	top: 2vh;
	width: 70%;
	z-index: 100;
}

.status-child {
	min-width: 30%;
}

.deviceinfo {
	position: fixed;
	margin-left: 3.2%;
	margin-top: 3.3%;
	width: 26%;
	height: 45vh;

	background-color: rgba(255,255,255,0.1);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.20); 
	border: 0;
	border-radius: 2vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	.icon-align {
		display: inline;	
		vertical-align: middle;
	}

	.connected {
		color: #8bd22f;
		font-size: 7vh;
	}

	.disconnected {
		color: #f0ad4e;	
		font-size: 7vh;
	}
}

.control {
	position: fixed;
	bottom: 0;
	margin-bottom: 3.3%;
	margin-left: 3.2%;
	width: 26%;
	height: 40vh;

	background-color: rgba(255,255,255,0.1);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.20); 
	border: 0;
	border-radius: 2vh;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.event-test {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.reboot-info {
}
