.container {
    width: 95%;
    margin: 1.5em auto;
  
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      flex-basis: 0;
    }
  
    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }
  
    .mat-action-row {
      justify-content: space-around;
    }
  
    .list-item {
      font-size: 85%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  
      flex-wrap: wrap;
    }
  }
  