<mat-progress-bar
  color="accent"
  *ngIf="hardwareInfo == null"
  mode="query"
></mat-progress-bar>

<div class="container">
  <mat-accordion [multi]="false">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title> Host </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <ng-container *ngFor="let h of hostList | keyvalue">
            <mat-list-item>
                <div class="list-item">
                  <span>{{ h.key }}</span>
                  <pre>{{ h.value }}</pre>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title> Memory </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-list>
            <ng-container *ngFor="let h of memoryList | keyvalue">
                <mat-list-item>
                    <div class="list-item">
                      <span>{{ h.key }}</span>
                      <pre>{{ h.value }}</pre>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
            </ng-container>
          </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> CPU Usage </mat-panel-title>
            <mat-panel-description> {{highestTemp}}°C </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list>
              <ng-container *ngFor="let t of tempList | keyvalue">
                <mat-list-item>
                  <div class="list-item">
                    <span>{{ t.key }} temperature</span>
                    <pre>{{ t.value | number: "1.2-2" }}°C</pre>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
              <ng-container *ngFor="let h of CPUList | keyvalue">
                  <mat-list-item>
                      <div class="list-item">
                        <span>{{ h.key }}</span>
                        <pre>{{ h.value | number: "1.2-2" }}%</pre>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
              </ng-container>
            </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title> Disk Usage </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
            <mat-list>
                <ng-container *ngFor="let h of diskList | keyvalue">
                    <mat-list-item>
                        <div class="list-item">
                          <span>{{ h.key }}</span>
                          <pre>{{ h.value }}</pre>
                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                </ng-container>
              </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Docker Containers </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
              <mat-list>
                  <ng-container *ngFor="let h of dockerList | keyvalue">
                      <mat-list-item>
                          <div class="list-item">
                            <span>{{ h.key }}</span>
                            <pre>{{ h.value }}</pre>
                          </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                  </ng-container>
                </mat-list>
          </mat-expansion-panel>
  </mat-accordion>
</div>
