/* You can add global styles to this file, and also import other style files */

@import 'material-design-icons/iconfont/material-icons.css';
@import './app/themes.scss';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

html {
    overflow: hidden;
    user-select: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
