// styles.scss
// ----------------------------
// Global SCSS entry point
// Loads Material themes and app-wide styles
// ----------------------------

@use './app/themes' as *;

// Global style overrides or additions can go below

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: mat.get-theme-color($default-theme, background);
}
