/*
Updating they way we do theming in the app, to use the new Angular Material 3 theming system.
Introduced in Angular Material v19.
*/

// Import the Angular Material theming functions
@use '@angular/material' as mat;

html, body {
    @include mat.theme((
        color: (
            primary: mat.define-palette(mat.$m2-blue-palette, 800, 600, 900),
            accent: mat.define-palette(mat.$m2-blue-grey-palette),
            warn: mat.define-palette(mat.$m2-pink-palette),
        ),
        typography: mat.define-typography-config(),
        density: 0,
    ));

    // Define the status theme
    #status-theme {
        @include mat.all-component-themes(mat.define-light-theme((
            color: (
                primary: mat.define-palette(mat.$m2-green-palette),
                accent: mat.define-palette(mat.$m2-yellow-palette),
                warn: mat.define-palette(mat.$m2-red-palette),
            )
        )));
    }

    // Define the dark theme
    .dark-theme {
        @include mat.all-component-themes(mat.define-dark-theme((
            color: (
                primary: mat.define-palette(mat.$m2-blue-palette, 800, 600, 900),
                accent: mat.define-palette(mat.$m2-blue-grey-palette),
                warn: mat.define-palette(mat.$m2-pink-palette),
            )
        )));
    }

    
}