<mat-progress-bar color="accent" *ngIf="stati == null" mode="query"></mat-progress-bar>

<div class="container">
<mat-accordion [multi]="false">
    <mat-expansion-panel *ngFor="let status of stati"
                        [hideToggle]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{status?.name}}
            </mat-panel-title>

            <!-- TODO make a color palatte for status colors success/warn/error -->
            <mat-panel-description>
                Version: {{status?.version}}
                <div id="status-theme">
                    <mat-icon color="primary" *ngIf="status?.statuscode === 'healthy'">check_circle</mat-icon>
                    <mat-icon color="accent" *ngIf="status?.statuscode === 'sick'">warning</mat-icon>
                    <mat-icon color="warn" *ngIf="status?.statuscode === 'dead'">error_outline</mat-icon>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
            <mat-list-item>
                <div class="list-item">
                    <span>Name</span>
                    <pre>{{status?.name}}</pre>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <span>Uptime</span>
                    <pre>{{status?.uptime}}</pre>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <span>Binary Location</span>
                    <pre>{{status?.bin}}</pre>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <span>Status Code</span>
                    <pre>{{status?.statuscode}}</pre>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <span>Version</span>
                    <pre>{{status?.version}}</pre>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="json">
                <div class="list-item">
                    <span>Info</span>
                    <pre><code>{{status?.info | json}}</code></pre>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>
</div>
