.container {
  width: 95%;
  margin: 1.5em auto;

  // to align the headers
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .list-item {
    font-size: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    flex-wrap: wrap;
  }

  .json {
    margin-top: 0.8em;
    height: 100%;

    pre {
      color: black;
      background: #faf8f0;
      border-radius: 0.2em;
      width: 100%;

      white-space: pre-wrap;
      word-break: break-word;
      tab-size: 2;
    }
  }
}
