<div class="system-info content-box loading">
    <p class="content-heading">System Information</p>
    <div class="content-box-sub">
        <p class="sub-heading">Hostname</p>
        <p class="sub-value">ITB-JAMES-CP1</p>
    </div>
    <div class="content-box-sub">
        <p class="sub-heading">ID</p>
        <p class="sub-value">1234567890</p>
    </div>
    <div class="content-box-sub">
        <p class="sub-heading">IP</p>
        <p class="sub-value">0.0.0.0</p>
    </div>
    <div class="content-box-sub">
        <p class="sub-heading">Internet Connectivity</p>
        <p class="sub-value">Connected</p>
    </div>
    <div class="content-box-sub">
        <p class="sub-heading">DHCP Enabled</p>
        <p class="sub-value">Yes</p>
    </div>

    <div class="system-buttons">
        <button class="system-button return-btn"><span data-icon="back-arrow"> </span> <p>Back to UI</p></button>
        <button class="system-button reboot-btn"><span data-icon="power"></span>Reboot</button>
    </div>
</div>

<div class="room-status content-box">
    <p class="content-heading">Room Status</p>
    <div class="content-box-sub">
        <p class="sub-heading">Devices Reachable</p>
        <p class="sub-value">15</p>
    </div>
    <div class="content-box-sub">
        <p class="sub-heading">Devices Unreachable</p>
        <p class="sub-value">2</p>
    </div>
</div>
