.system-info {
    color: black;
}

.system-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    color: white;
}

.system-button {
    border-radius: 5px;
    padding: 10px 15px;
    border-width: 0px;
    display: flex;
    align-items: center;
    font-size: .8rem;
    gap: 5px;
}

.return-btn {
    background-color: #607d8b;
    color: white;
}

.reboot-btn {
    background-color: #e91e63;
    color: white;
}

