<div class="content-box divider-sensor-card">
    <p class="content-heading">Divider Sensor</p>
    <div class="content-box-sub divider-sensor-address">
        <p class="sub-heading">Address</p>
        <p class="sub-value" data-field="divider.address">-</p>
    </div>
    <div class="divider-sensor-stats">
        <div class="divider-sensor-box">
            <p class="box-title">Status</p>
            <p class="box-value" data-field="divider.status">-</p>
        </div>
        <div class="divider-sensor-box">
            <p class="box-title">Preset</p>
            <p class="box-value" data-field="divider.preset">-</p>
        </div>
        <div class="divider-sensor-box">
            <p class="box-title">Pin</p>
            <p class="box-value" data-field="divider.pin">-</p>
        </div>
    </div>
</div>
