<mat-progress-bar
  color="accent"
  *ngIf="pingResult == null"
  mode="query"
></mat-progress-bar>

<div class="container">
  <mat-accordion [multi]="false">
    <!--
    <ng-container *ngFor="let result of pingResult?.unsuccessful">
      <ng-container
        *ngTemplateOutlet="pingInfoList; context: { result: result }"
      ></ng-container>
    </ng-container>

    <ng-container *ngFor="let result of pingResult?.successful">
      <ng-container
        *ngTemplateOutlet="pingInfoList; context: { result: result }"
      ></ng-container>
    </ng-container>
      -->
    <ng-container *ngFor="let result of (pingResult | keyvalue)">
      <mat-expansion-panel [hideToggle]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ result?.key }} </mat-panel-title>

          <mat-panel-description>
            {{ result?.value?.ip || "Unable to resolve" }}

            <div id="status-theme" class="statusbar">
              <span>
                <!-- pingable icon -->
                <mat-icon
                  color="primary"
                  *ngIf="
                    result?.value?.packetsLost === 0 && !result?.value?.error
                  "
                  >wifi</mat-icon
                >
                <mat-icon
                  color="accent"
                  *ngIf="
                    result?.value?.packetsLost > 0 && !result?.value?.error
                  "
                  >wifi</mat-icon
                >
                <mat-icon color="warn" *ngIf="result?.value?.error"
                  >wifi</mat-icon
                >
              </span>

              <!-- healthy icon -->
              <span *ngIf="roomHealth?.has(result?.key)">
                <mat-icon
                  color="primary"
                  *ngIf="roomHealth?.get(result?.key) === 'healthy'"
                  >thumb_up</mat-icon
                >
                <mat-icon
                  color="warn"
                  *ngIf="roomHealth?.get(result?.key) !== 'healthy'"
                  >thumb_down</mat-icon
                >
              </span>
              <span *ngIf="!roomHealth || !roomHealth?.has(result?.key)">
                <mat-icon style="color: grey;">hot_tub</mat-icon>
              </span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item>
            <div class="list-item">
              <span>Device ID</span>
              <pre>{{ result?.key }}</pre>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <div class="list-item">
              <span>Resolved IP</span>
              <pre>{{ result?.value?.ip }}</pre>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item *ngIf="result?.value?.error" class="json">
            <div class="list-item">
              <span>Ping Error</span>
              <pre>{{ result?.value?.error | json }}</pre>
            </div>
          </mat-list-item>
          <mat-divider *ngIf="result?.value?.error"></mat-divider>

          <mat-list-item *ngIf="roomHealth?.has(result?.key)" class="json">
            <div class="list-item">
              <span>Health Check Response</span>
              <pre>{{ roomHealth?.get(result?.key) | json }}</pre>
            </div>
          </mat-list-item>
          <mat-divider *ngIf="roomHealth?.has(result?.key)"></mat-divider>

          <mat-list-item>
            <div class="list-item">
              <span>Packets Sent</span>
              <pre>{{ result?.value?.packetsSent }}</pre>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <div class="list-item">
              <span>Packets Received</span>
              <pre>{{ result?.value?.packetsReceived }}</pre>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            <div class="list-item">
              <span>Packets Lost</span>
              <pre>{{ result?.value?.packetsLost }}</pre>
            </div>
          </mat-list-item>
          <mat-divider *ngIf="result?.value?.averageRoundTrip"></mat-divider>

          <mat-list-item *ngIf="result?.value?.averageRoundTrip">
            <div class="list-item">
              <span>Average Round Trip Time</span>
              <pre>{{ result?.value?.averageRoundTrip }}</pre>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
