<div class="base" [ngClass]="api?.theme + '-theme'">

  <div class="card-body text-center">
    <alert></alert>
  </div>

  <mat-toolbar color="primary">
    <button mat-button style="padding: 0" (click)="api.refresh()">
      <mat-icon style="margin-right: .35em">refresh</mat-icon>
      <span style="font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif"
        >System Health Dashboard</span
      >
    </button>

    <span class="fill-remaining-space"></span>
    <button
      mat-button
      style="padding: 0"
      (click)="
        api?.theme === 'default'
          ? api.switchTheme('dark')
          : api.switchTheme('default')
      "
    >
      <span style="font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif">{{
        id
      }}</span>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="sidenav"
      [class.wide]="wideSidenav()"
    >
      <button
        mat-flat-button
        color=""
        routerLink="/overview"
        routerLinkActive="mat-accent"
        queryParamsHandling="merge"
      >
        <mat-icon>home</mat-icon>

        <ng-container *ngIf="wideSidenav()">Overview</ng-container>
      </button>
      <!-- TODO
        <button mat-flat-button color="" routerLink="/provisioning" routerLinkActive="mat-accent" queryParamsHandling="merge">
            <mat-icon>developer_board</mat-icon>

            <ng-container *ngIf="wideSidenav()">
                Provisioning
            </ng-container>
        </button> 
        -->
      <button
        mat-flat-button
        color=""
        routerLink="/reachable-devices"
        routerLinkActive="mat-accent"
        queryParamsHandling="merge"
      >
        <mat-icon>network_check</mat-icon>

        <ng-container *ngIf="wideSidenav()">Reachable Devices</ng-container>
      </button>
      <!-->
      <button
        mat-flat-button
        color=""
        routerLink="/software"
        routerLinkActive="mat-accent"
        queryParamsHandling="merge"
      >
        <mat-icon>code</mat-icon>

        <ng-container *ngIf="wideSidenav()">Software Status</ng-container>
      </button>
      <button
        mat-flat-button
        color=""
        routerLink="/runner-info"
        routerLinkActive="mat-accent"
        queryParamsHandling="merge"
      >
        <mat-icon>directions_run</mat-icon>

        <ng-container *ngIf="wideSidenav()">Runner Info</ng-container>
      </button>
      -->
      <button
        mat-flat-button
        color=""
        routerLink="/via-control"
        routerLinkActive="mat-accent"
        queryParamsHandling="merge"
      >
        <mat-icon>settings_input_antenna</mat-icon>

        <ng-container *ngIf="wideSidenav()">Via Control</ng-container>
      </button>

      <button
        mat-flat-button
        color=""
        routerLink="/device-info"
        routerLinkActive="mat-accent"
        queryParamsHandling="merge"
      >
        <mat-icon>info</mat-icon>

        <ng-container *ngIf="wideSidenav()">Device Info</ng-container>
      </button>

      <!-- at the bottom -->
      <button
        mat-flat-button
        color=""
        class="bottom"
        (click)="setWideSidenav(!wideSidenav())"
      >
        <mat-icon *ngIf="wideSidenav()">chevron_left</mat-icon>
        <mat-icon *ngIf="!wideSidenav()">chevron_right</mat-icon>

        <ng-container *ngIf="wideSidenav()"> Collapse sidebar </ng-container>
      </button>
    </mat-sidenav>

    <mat-sidenav-content
      class="content-container"
      [class.wide-nav]="wideSidenav()"
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
